## Final Project Submission

Please fill out:
* Student name: Matthew Parker
* Student pace: full time
* Scheduled project review date/time: ????
* Instructor name: Rafael Carrasco
* Blog post URL: ????

Importing and Inspecting:

In [2]:
#let's just go ahead and import every python library in existence....just in case  :-)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import scipy.stats as stats
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [3]:
#reading the .csv file into a pandas dataframe
df = pd.read_csv('kc_house_data.csv')

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

Convert the values in the *date* column to the *datetime* datatype.

In [6]:
df.date = pd.to_datetime(df.date)

Check all columns for placeholders, duplicates, or other atypical values.

In [7]:
for col in df.columns:
    print(col, '\n', df[col].value_counts(normalize=True).head(), '\n\n')

id
 795000620     0.000139
1825069031    0.000093
2019200220    0.000093
7129304540    0.000093
1781500435    0.000093
Name: id, dtype: float64


date
 2014-06-23    0.006575
2014-06-25    0.006066
2014-06-26    0.006066
2014-07-08    0.005880
2015-04-27    0.005834
Name: date, dtype: float64


price
 350000.0    0.007964
450000.0    0.007964
550000.0    0.007362
500000.0    0.007038
425000.0    0.006945
Name: price, dtype: float64


bedrooms
 3    0.454878
4    0.318655
2    0.127796
5    0.074131
6    0.012594
Name: bedrooms, dtype: float64


bathrooms
 2.50    0.248970
1.00    0.178312
1.75    0.141131
2.25    0.094782
2.00    0.089364
Name: bathrooms, dtype: float64


sqft_living
 1300    0.006390
1400    0.006251
1440    0.006158
1660    0.005973
1010    0.005973
Name: sqft_living, dtype: float64


sqft_lot
 5000    0.016576
6000    0.013428
4000    0.011622
7200    0.010187
7500    0.005510
Name: sqft_lot, dtype: float64


floors
 1.0    0.494189
2.0    0.381303
1.5    0.088438
3.0    0.028291
2.5    0.007455
Name: floors, dtype: float64


waterfront
 0.0    0.992404
1.0    0.007596
Name: waterfront, dtype: float64


view
 0.0    0.901923
2.0    0.044441
3.0    0.023591
1.0    0.015325
4.0    0.014721
Name: view, dtype: float64


condition
 3    0.649164
4    0.262861
5    0.078761
2    0.007871
1    0.001343
Name: condition, dtype: float64


grade
 7     0.415521
8     0.280826
9     0.121082
6     0.094365
10    0.052507
Name: grade, dtype: float64


sqft_above
 1300    0.009816
1010    0.009724
1200    0.009538
1220    0.008890
1140    0.008520
Name: sqft_above, dtype: float64


sqft_basement
 0.0      0.593879
?        0.021021
600.0    0.010048
500.0    0.009677
700.0    0.009631
Name: sqft_basement, dtype: float64


yr_built
 2014    0.025883
2006    0.020975
2005    0.020836
2004    0.020049
2003    0.019447
Name: yr_built, dtype: float64


yr_renovated
 0.0       0.958096
2014.0    0.004112
2003.0    0.001746
2013.0    0.001746
2007.0    0.001690
Name: yr_renovated, dtype: float64


zipcode
 98103    0.027874
98038    0.027272
98115    0.026994
98052    0.026578
98117    0.025605
Name: zipcode, dtype: float64


lat
 47.6624    0.000787
47.5491    0.000787
47.5322    0.000787
47.6846    0.000787
47.6711    0.000741
Name: lat, dtype: float64


long
 -122.290    0.005325
-122.300    0.005140
-122.362    0.004815
-122.291    0.004630
-122.372    0.004584
Name: long, dtype: float64


sqft_living15
 1540    0.009122
1440    0.009029
1560    0.008890
1500    0.008334
1460    0.007825
Name: sqft_living15, dtype: float64


sqft_lot15
 5000    0.019771
4000    0.016484
6000    0.013335
7200    0.009724
4800    0.006714
Name: sqft_lot15, dtype: float64

According to the reports above, we have several odd things going on:
1. There is a duplicate row in the "id" column at "795000620"
2. Over half of the "sqft_basement" column is "0.0"; additionally, 21% of all values are "?" placeholders; furthermore, the column's datatype is string instead of numeric
3. The "waterfront" column is over 99% "0.0"; this column is also missing 2,376 values (~11% of total)
4. The vast majority (90%) of values in the "view" column are "0.0"; this is in addition to 63 missing values
5. The "yr_renovated" column is 95.8% "0.0"; this column is also missing 3,842 values (~17.8% of total)

Let's deal with these one at a time, beginning with the duplicate instance of "795000620". Let's display both instances to make sure that they contain the same data.

In [8]:
df.loc[df['id']==795000620]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17588,795000620,2014-09-24,115000.0,3,1.0,1080,6250,1.0,0.0,0.0,...,5,1080,0.0,1950,0.0,98168,47.5045,-122.33,1070,6250
17589,795000620,2014-12-15,124000.0,3,1.0,1080,6250,1.0,0.0,0.0,...,5,1080,0.0,1950,0.0,98168,47.5045,-122.33,1070,6250
17590,795000620,2015-03-11,157000.0,3,1.0,1080,6250,1.0,NaN,0.0,...,5,1080,0.0,1950,NaN,98168,47.5045,-122.33,1070,6250

So it turns out that this house was sold several times over the span of a few months. This is fine, but notice that some of the columns have missing values (like 'waterfront' and 'yr_renovated'). We should probably check to make sure that the rest of the dataset doesn't have any instances of duplicates where missing values can be filled in.

In [9]:
# since we're about to slice out scattered rows, we should create a 
# new column that duplicates the original index. This will make
# merging the sliced data back in much easier later on.
df = df.reset_index()

In [10]:
duplicates = df[df.duplicated(subset='id', keep=False)]

# How many duplicates do we have?
print(len(duplicates))

353

In [11]:
# let's see if there are any houses which *only* have NaN values for 'waterfront'
duplicates.loc[duplicates['waterfront']!=0].sort_values('id')

,index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2494,2494,1000102,2014-09-16,280000.0,6,3.00,2400,9373,2.0,NaN,...,7,2400,0.0,1991,0.0,98002,47.3262,-122.214,2060,7316
824,824,726049190,2015-02-18,431000.0,3,1.00,1810,7200,1.0,NaN,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
17590,17590,795000620,2015-03-11,157000.0,3,1.00,1080,6250,1.0,NaN,...,5,1080,0.0,1950,NaN,98168,47.5045,-122.330,1070,6250
10261,10261,1450100390,2014-09-05,125000.0,3,1.00,920,7314,1.0,NaN,...,6,920,0.0,1960,0.0,98002,47.2892,-122.220,1010,7420
4868,4868,1524079093,2015-03-18,369500.0,3,1.75,1300,20700,1.0,NaN,...,7,1300,0.0,1962,0.0,98024,47.5587,-121.904,1930,37638
5718,5718,1788800630,2014-10-29,96500.0,3,1.00,840,12091,1.0,NaN,...,6,840,0.0,1959,0.0,98023,47.3281,-122.343,840,9324
3536,3536,1823049202,2014-06-10,175000.0,6,1.50,1930,8400,1.0,NaN,...,7,1030,900.0,1971,0.0,98146,47.4869,-122.340,1780,9520
3947,3947,1825069031,2014-10-16,550000.0,4,1.75,2410,8447,2.0,NaN,...,8,2060,350.0,1936,1980.0,98074,47.6499,-122.088,2520,14789
19195,19195,1901600090,2015-04-26,390000.0,5,1.75,1940,6654,1.5,NaN,...,7,1940,0.0,1953,0.0,98166,47.4663,-122.359,2300,9500
1862,1862,2143700830,2014-10-06,207000.0,4,2.50,2100,19680,1.5,NaN,...,6,2100,0.0,1914,0.0,98055,47.4787,-122.230,1340,12300
9384,9384,2212200100,2015-04-22,344900.0,4,2.50,2150,7670,1.0,NaN,...,7,1240,910.0,1976,0.0,98031,47.3942,-122.189,1610,7350
9383,9383,2212200100,2014-10-22,229950.0,4,2.50,2150,7670,1.0,NaN,...,7,1240,910.0,1976,0.0,98031,47.3942,-122.189,1610,7350
1449,1449,2228900270,2015-02-12,302000.0,2,1.00,1010,6000,1.0,NaN,...,6,1010,0.0,1944,0.0,98133,47.7710,-122.353,1610,7313
371,371,2231500030,2014-10-01,315000.0,4,2.25,2180,10754,1.0,NaN,...,7,1100,1080.0,1954,0.0,98133,47.7711,-122.341,1810,6929
15555,15555,2560801222,2014-11-13,309950.0,3,2.25,1990,6350,2.0,NaN,...,7,1990,0.0,1967,0.0,98198,47.3822,-122.316,1220,6250
15986,15986,2561340020,2014-08-04,325000.0,3,1.75,1780,11096,1.0,NaN,...,7,1210,570.0,1979,0.0,98074,47.6170,-122.051,1780,10640
9711,9711,2568300045,2014-06-25,305000.0,6,2.00,1900,8240,1.0,NaN,...,7,1200,700.0,1964,0.0,98125,47.7037,-122.296,1900,8240
20596,20596,2724049222,2014-08-02,163800.0,2,2.50,1000,1092,2.0,NaN,...,7,990,10.0,2004,0.0,98118,47.5419,-122.271,1330,1466
5587,5587,2726049071,2014-12-11,510000.0,2,1.00,820,4206,1.0,NaN,...,5,820,0.0,1949,0.0,98125,47.7076,-122.284,1810,7200
11764,11764,2892700041,2015-01-28,238000.0,3,1.50,1370,7439,1.0,NaN,...,6,1370,0.0,1963,0.0,98055,47.4499,-122.189,2350,3370
13605,13605,3185600040,2014-12-24,310000.0,2,1.00,1400,4500,1.0,NaN,...,7,900,500.0,1922,0.0,98055,47.4866,-122.219,1400,5500
10211,10211,3293700496,2014-12-04,450000.0,4,1.75,1850,7730,1.0,NaN,...,7,1100,750.0,1956,0.0,98133,47.7481,-122.355,2260,8581
5240,5240,3303000130,2015-04-28,520000.0,3,2.25,1770,7667,1.0,NaN,...,8,1270,500.0,1966,NaN,98177,47.7724,-122.362,2180,8103
18748,18748,3332000615,2015-04-22,389000.0,3,1.00,1330,3740,1.5,NaN,...,6,1330,0.0,1903,0.0,98118,47.5502,-122.274,1330,5053
5268,5268,4204400098,2015-04-21,385000.0,5,1.75,2190,8250,1.0,NaN,...,7,1190,1000.0,1963,0.0,98055,47.4887,-122.223,2570,8250
11446,11446,4305200070,2014-05-19,350000.0,3,2.25,1640,7200,2.0,NaN,...,8,1640,0.0,1985,0.0,98007,47.5948,-122.153,1830,8372
2125,2125,4345000510,2015-04-28,325000.0,3,2.50,1800,8518,2.0,NaN,...,7,1800,0.0,1996,0.0,98030,47.3643,-122.185,1770,7570
9270,9270,4443800385,2014-08-18,410000.0,2,1.00,1480,4080,1.0,NaN,...,7,1050,430.0,1949,0.0,98117,47.6842,-122.393,1310,4080
9480,9480,5054800110,2014-10-16,238000.0,5,2.25,2240,9652,2.0,NaN,...,7,2240,0.0,1990,0.0,98055,47.4249,-122.211,2180,11644
9481,9481,5054800110,2015-02-13,328000.0,5,2.25,2240,9652,2.0,NaN,...,7,2240,0.0,1990,0.0,98055,47.4249,-122.211,2180,11644
8524,8524,5101405604,2015-04-28,395000.0,1,1.00,900,6380,1.0,NaN,...,6,900,0.0,1947,0.0,98125,47.7019,-122.311,1830,6380
8622,8622,5127001320,2015-02-23,314950.0,3,1.75,1520,9600,1.0,NaN,...,7,1520,0.0,1967,0.0,98059,47.4730,-122.149,1590,10183
12327,12327,5132000140,2015-01-20,415000.0,6,1.00,1370,5080,1.5,NaN,...,6,1120,250.0,1931,0.0,98106,47.5238,-122.350,1020,5080
6896,6896,5249801440,2014-12-16,250000.0,3,1.00,1660,7650,1.5,NaN,...,7,1350,310.0,1910,0.0,98118,47.5576,-122.277,1750,5760
6897,6897,5249801440,2015-04-22,570000.0,3,1.00,1660,7650,1.5,NaN,...,7,1350,310.0,1910,0.0,98118,47.5576,-122.277,1750,5760
6713,6713,5417600130,2014-10-10,244500.0,2,1.00,910,9000,1.0,NaN,...,5,910,0.0,1923,0.0,98065,47.5260,-121.810,1290,9000
11049,11049,6141100320,2014-07-07,245000.0,2,1.00,1500,6685,1.0,NaN,...,7,1190,310.0,1926,NaN,98133,47.7186,-122.354,1420,6561
13285,13285,7167000040,2014-08-13,740000.0,4,3.00,3350,199253,2.0,NaN,...,10,3350,0.0,2004,0.0,98010,47.3602,-121.988,3350,183897
14988,14988,7504021310,2014-12-04,745000.0,3,2.50,2970,11985,1.0,NaN,...,9,1770,1200.0,1995,0.0,98074,47.6359,-122.052,2990,12049
324,324,7520000520,2014-09-05,232000.0,2,1.00,1240,12092,1.0,NaN,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
2563,2563,7856400240,2015-02-11,1650000.0,4,3.00,3900,9750,1.0,NaN,...,10,2520,1380.0,1972,0.0,98006,47.5605,-122.158,3410,9450
20654,20654,8564860270,2015-03-30,502000.0,4,2.50,2680,5539,2.0,NaN,...,8,2680,0.0,2013,0.0,98045,47.4759,-121.734,2680,5992
17052,17052,8651402750,2015-02-18,132825.0,3,1.50,1210,5200,1.0,NaN,...,6,1210,0.0,1969,0.0,98042,47.3615,-122.087,1120,5200
11574,11574,8807810890,2014-08-27,259875.0,3,1.00,1250,21303,1.0,NaN,...,6,1250,0.0,1970,0.0,98053,47.6625,-122.059,1250,17920
2974,2974,9136103130,2014-12-01,430000.0,2,1.50,1090,4013,1.5,NaN,...,7,1090,0.0,1900,0.0,98103,47.6652,-122.338,1390,4013
6365,6365,9222400605,2014-11-15,842500.0,5,4.00,2980,4500,1.5,NaN,...,7,2070,910.0,1921,0.0,98115,47.6736,-122.323,1560,4225

In [12]:
# let's see if there are any houses which *only* have NaN values for 'yr_renovated'
duplicates.loc[duplicates['yr_renovated']!=0].sort_values('id')

,index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16801,16801,7200179,2015-04-24,175000.0,2,1.00,840,12750,1.0,0.0,...,6,840,0.0,1925,NaN,98055,47.4840,-122.211,1480,6969
12406,12406,123039336,2014-12-08,244900.0,1,1.00,620,8261,1.0,0.0,...,5,620,0.0,1939,NaN,98106,47.5138,-122.364,1180,8244
14841,14841,324000530,2014-07-08,201500.0,3,1.00,1320,5000,1.5,0.0,...,7,1320,0.0,1912,NaN,98116,47.5711,-122.386,1320,4179
17590,17590,795000620,2015-03-11,157000.0,3,1.00,1080,6250,1.0,NaN,...,5,1080,0.0,1950,NaN,98168,47.5045,-122.330,1070,6250
12422,12422,1217000340,2014-06-06,185000.0,3,1.00,1840,8100,1.0,0.0,...,7,920,920.0,1953,NaN,98166,47.4550,-122.350,1250,8100
8497,8497,1237500540,2014-12-22,270000.0,3,1.75,1370,10866,1.0,0.0,...,6,1370,0.0,1945,NaN,98052,47.6774,-122.164,1580,14250
3752,3752,1254200015,2014-12-16,405000.0,3,2.50,2260,5500,1.5,0.0,...,7,1280,980.0,1910,NaN,98117,47.6810,-122.388,1790,5355
14560,14560,1432400120,2014-11-11,165000.0,3,1.00,1010,7690,1.0,0.0,...,6,1010,0.0,1958,NaN,98058,47.4501,-122.176,1010,7619
10262,10262,1450100390,2015-03-16,208000.0,3,1.00,920,7314,1.0,0.0,...,6,920,0.0,1960,NaN,98002,47.2892,-122.220,1010,7420
4867,4867,1524079093,2014-08-27,275000.0,3,1.75,1300,20700,1.0,0.0,...,7,1300,0.0,1962,NaN,98024,47.5587,-121.904,1930,37638
8427,8427,1721801010,2015-04-24,302100.0,3,1.00,1790,6120,1.0,0.0,...,6,1790,0.0,1937,1964.0,98146,47.5080,-122.337,830,6120
8426,8426,1721801010,2014-09-03,225000.0,3,1.00,1790,6120,1.0,0.0,...,6,1790,0.0,1937,1964.0,98146,47.5080,-122.337,830,6120
2500,2500,1781500435,2014-08-20,260000.0,3,1.75,1580,7344,1.0,0.0,...,7,1580,0.0,1911,NaN,98126,47.5256,-122.380,1580,6207
3946,3946,1825069031,2014-08-14,550000.0,4,1.75,2410,8447,2.0,0.0,...,8,2060,350.0,1936,1980.0,98074,47.6499,-122.088,2520,14789
3947,3947,1825069031,2014-10-16,550000.0,4,1.75,2410,8447,2.0,NaN,...,8,2060,350.0,1936,1980.0,98074,47.6499,-122.088,2520,14789
9112,9112,1922059278,2015-03-05,255000.0,3,1.00,1010,11880,1.0,0.0,...,7,1010,0.0,1960,NaN,98030,47.3762,-122.219,1150,9435
9111,9111,1922059278,2014-10-14,145000.0,3,1.00,1010,11880,1.0,0.0,...,7,1010,0.0,1960,NaN,98030,47.3762,-122.219,1150,9435
5753,5753,1954420170,2014-05-21,368250.0,3,2.50,2150,7484,2.0,0.0,...,8,2150,0.0,1988,NaN,98074,47.6191,-122.043,2150,6879
5754,5754,1954420170,2014-11-13,580000.0,3,2.50,2150,7484,2.0,0.0,...,8,2150,0.0,1988,NaN,98074,47.6191,-122.043,2150,6879
17277,17277,1974300020,2015-02-18,624900.0,4,2.50,2270,11500,1.0,0.0,...,8,1540,730.0,1967,NaN,98034,47.7089,-122.241,2020,10918
12943,12943,2019200220,2015-02-26,269000.0,3,2.25,1470,8682,1.0,0.0,...,7,1160,310.0,1985,NaN,98003,47.2729,-122.299,1670,8359
13616,13616,2023049218,2015-03-16,445000.0,2,1.00,930,7740,1.0,0.0,...,5,930,0.0,1932,NaN,98148,47.4611,-122.324,1620,8584
15787,15787,2044500213,2014-06-17,310000.0,4,2.00,1870,6000,1.5,0.0,...,7,1870,0.0,1956,NaN,98125,47.7155,-122.315,1520,7169
1448,1448,2228900270,2014-08-12,215000.0,2,1.00,1010,6000,1.0,0.0,...,6,1010,0.0,1944,NaN,98133,47.7710,-122.353,1610,7313
9712,9712,2568300045,2015-03-19,649950.0,6,2.00,1900,8240,1.0,0.0,...,7,1200,700.0,1964,NaN,98125,47.7037,-122.296,1900,8240
15264,15264,2619920170,2014-12-19,765000.0,4,2.50,3230,4290,2.0,0.0,...,9,3230,0.0,2004,NaN,98033,47.6874,-122.161,3220,5083
5588,5588,2726049071,2015-04-08,489950.0,2,1.00,820,4206,1.0,0.0,...,5,820,0.0,1949,NaN,98125,47.7076,-122.284,1810,7200
3620,3620,2767602141,2014-12-22,650000.0,3,1.50,1380,4290,1.0,0.0,...,7,1080,300.0,1955,NaN,98107,47.6740,-122.379,1510,3900
10599,10599,2767603612,2015-01-13,489000.0,2,2.25,1290,1334,3.0,0.0,...,8,1290,0.0,2007,NaN,98107,47.6719,-122.382,1350,1334
11763,11763,2892700041,2014-07-14,168000.0,3,1.50,1370,7439,1.0,0.0,...,6,1370,0.0,1963,NaN,98055,47.4499,-122.189,2350,3370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3790,3790,4435000705,2015-03-09,255500.0,3,1.00,1350,8700,1.5,0.0,...,6,1350,0.0,1942,NaN,98188,47.4497,-122.289,1300,8700
13722,13722,5332200530,2015-04-24,1020000.0,5,2.50,2350,4000,2.0,0.0,...,9,2350,0.0,1993,NaN,98112,47.6265,-122.296,1840,4000
19321,19321,6021500970,2015-04-07,874950.0,2,1.00,1080,4000,1.0,0.0,...,7,1080,?,1940,NaN,98117,47.6902,-122.387,1530,4240
11049,11049,6141100320,2014-07-07,245000.0,2,1.00,1500,6685,1.0,NaN,...,7,1190,310.0,1926,NaN,98133,47.7186,-122.354,1420,6561
15142,15142,6669020290,2014-10-23,169000.0,3,1.75,1720,9775,1.0,0.0,...,8,1720,0.0,1978,NaN,98032,47.3731,-122.286,1970,8400
18220,18220,6751300375,2014-10-16,522500.0,3,1.00,1520,9030,1.0,0.0,...,7,1520,0.0,1956,NaN,98007,47.5870,-122.134,1470,8712
15796,15796,7129304540,2014-12-20,133000.0,5,2.00,1430,5600,1.5,0.0,...,6,1430,0.0,1947,NaN,98118,47.5192,-122.266,1860,5980
17469,17469,7387500235,2015-03-17,363000.0,3,1.75,1960,8136,1.0,0.0,...,7,980,980.0,1948,NaN,98106,47.5208,-122.364,1070,7480
324,324,7520000520,2014-09-05,232000.0,2,1.00,1240,12092,1.0,NaN,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
325,325,7520000520,2015-03-11,240500.0,2,1.00,1240,12092,1.0,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
12110,12110,7520000695,2015-04-21,251000.0,3,1.00,840,4495,1.0,0.0,...,6,840,0.0,1921,NaN,98146,47.4960,-122.349,1260,7434
5247,5247,7524400250,2014-11-24,589950.0,3,2.00,2080,12094,2.0,0.0,...,8,2080,0.0,1982,NaN,98052,47.7035,-122.164,2230,12204
21565,21565,7853420110,2015-05-04,625000.0,3,3.00,2780,6000,2.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000
1575,1575,7888000390,2015-04-01,235000.0,3,1.00,1060,7473,1.0,0.0,...,7,1060,0.0,1959,NaN,98198,47.3699,-122.309,1320,7912
12365,12365,7899800045,2014-08-28,107000.0,3,1.50,910,5120,1.0,0.0,...,6,910,0.0,1973,NaN,98106,47.5238,-122.356,1410,5132
15351,15351,7972000010,2014-05-20,120750.0,3,1.75,1140,9628,1.0,0.0,...,7,1140,0.0,1969,NaN,98023,47.2933,-122.372,1510,9633
15352,15352,7972000010,2014-10-21,195000.0,3,1.75,1140,9628,1.0,0.0,...,7,1140,0.0,1969,NaN,98023,47.2933,-122.372,1510,9633
2629,2629,7983000200,2014-10-05,169575.0,3,1.00,1300,8284,1.0,0.0,...,7,1300,0.0,1968,NaN,98003,47.3327,-122.306,1360,7848
1128,1128,8062900070,2015-02-13,369000.0,5,1.50,2550,6300,1.0,0.0,...,7,1560,990.0,1959,NaN,98056,47.5014,-122.172,1380,6300
9269,9269,8129700644,2015-04-24,780000.0,3,4.00,2080,2250,3.0,0.0,...,8,2080,0.0,1997,NaN,98103,47.6598,-122.355,2080,2250
6527,6527,8645530010,2014-05-15,225000.0,3,2.00,1400,7384,1.0,0.0,...,7,1150,250.0,1979,NaN,98058,47.4655,-122.174,1820,7992
6783,6783,8651510380,2014-08-21,310000.0,3,2.00,2070,9195,1.0,0.0,...,8,1220,850.0,1982,NaN,98074,47.6491,-122.061,2080,9551
11575,11575,8807810890,2014-11-05,385000.0,3,1.00,1250,21303,1.0,0.0,...,6,1250,0.0,1970,NaN,98053,47.6625,-122.059,1250,17920
718,718,8820903380,2015-01-02,730000.0,6,2.25,2660,13579,2.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
717,717,8820903380,2014-07-28,452000.0,6,2.25,2660,13579,2.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
6428,6428,8832900780,2014-10-13,480000.0,5,2.00,1760,21562,1.0,0.0,...,8,1560,200.0,1959,NaN,98028,47.7597,-122.263,2150,12676
10215,10215,8945100320,2014-05-06,136500.0,3,1.50,1420,8580,1.0,0.0,...,6,1420,0.0,1962,NaN,98023,47.3076,-122.362,1200,8580
2975,2975,9136103130,2015-05-12,685000.0,2,1.50,1090,4013,1.5,0.0,...,7,1090,0.0,1900,NaN,98103,47.6652,-122.338,1390,4013
16658,16658,9250900104,2015-04-10,496000.0,5,1.75,2110,8500,1.0,0.0,...,7,1100,1010.0,1962,NaN,98133,47.7737,-122.350,2020,8500
4917,4917,9809000020,2014-05-13,1900000.0,5,2.25,3120,16672,2.0,0.0,...,9,3120,0.0,1969,NaN,98004,47.6458,-122.219,3740,17853

So looking at the duplicated data, it seems that we would be safe to convert all 'waterfront' NaN values to '0.0', except for *id*'s '2212200100', '5054800110', and '5249801440' (which only have NaN values in both instances). The same is true for all 'yr_renovated' NaN values except for *id*'s '1922059278', '1954420170', '3262300940', '4222310010', and '7972000010'.

So, first we will remove the seven pairs of rows just mentioned since we cannot reliably fill in any missing data. Then, let's replace all of the NaN values in 'waterfront' and 'yr_renovated' with '0.0'. Finally, we will merge the *duplicates* DataFrame back into the original *df* DataFrame so that our changes are updated to the original.

In [13]:
# change index to 'id' so that we can tell pandas which rows to remove
duplicates = duplicates.set_index('id')
duplicates.drop([2212200100, 5054800110, 5249801440, 1922059278, 1954420170, 
                 3262300940, 4222310010, 7972000010], inplace=True)

# now reset the index to preserve the 'id' column, then set the index back
# to 'index' for merging with the original DataFrame
duplicates = duplicates.reset_index()
duplicates = duplicates.set_index('index')

In [14]:
# now replace all of the NaN values in 'waterfront' and 'yr_renovated' with '0.0'
duplicates.waterfront.fillna(0, inplace=True)
duplicates.yr_renovated.fillna(0, inplace=True)

In [15]:
# Now let's merge the duplicates DataFrame back into the original.
# first set df's index back to 'index' as it originally was.
df.set_index('index', inplace=True)
df.update(duplicates, overwrite=True)

# because pandas converts all integers to floats in an update, we need to set them back
df = df.astype({'id': 'int64', 'bedrooms': 'int64', 'sqft_living': 'int64', 'sqft_lot': 'int64', 
                  'condition': 'int64', 'grade': 'int64', 'sqft_above': 'int64', 'yr_built': 'int64', 
                  'zipcode': 'int64', 'sqft_living15': 'int64', 'sqft_lot15': 'int64'})

Alright, that's 1 down, only 4 more weird features to go. 

Let's tackle the problematic "sqft_basement" column next. First, we'll turn all the "?" values into NaN values. Then we'll convert the entire column into numeric data using the *.to_numeric* method.

In [16]:
# we define a function that will replace all "?" values with NaN
def impute_sqft_basement(value):
    if value == '?':
        return None
    else:
        return value

# now we map a lamba function to iterate the above "impute" function through
# the *sqft_basement* column
df.sqft_basement = df.sqft_basement.map(lambda x: impute_sqft_basement(x))

In [17]:
# and now we will change the data type to numeric
df.sqft_basement = pd.to_numeric(df.sqft_basement)

Okay, that's another weird column dealt with. 

How about the *waterfront* and *yr_renovated* columns? Since both column are missing over 10% of their data *and* around 95-99% of the known values are identical, it should be safe to exclude these variables from our model. The values for the variable *view* are also 90% identical, so let's drop it as well.

In [20]:
# create a new dataframe labeled as a subset of the original, then use the *.drop* method
df_subset = df.drop(['waterfront', 'yr_renovated', 'view'], axis=1)

OK, now we just have left the missing values in *sqft_basement* to contend with. About 60% of the properties have no basement and there are 454 NaN values. Intuitively, it seems like the presence/absence of a basement is likely to impact the sale price of a home, so instead of dropping the column let's just drop the rows with NaN values instead. This is only 2% of our dataset, so our model should not be significantly effected.

In [25]:
df_subset.dropna(subset=['sqft_basement'], inplace=True)


Now that our data has been sufficiently cleaned, let's get a look at our variables and whether they might be related.

In [ ]:
# let's use a scatter matrix to take a quick look at the variables
pd.scatter_matrix(df_subset, figsize=(20,20));

C:\Users\Matthew Parker\.conda\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.scatter_matrix is deprecated, use pandas.plotting.scatter_matrix instead

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E2FC4550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E305BB70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E308A128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E30B16A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E30DAC18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E31081D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E312F748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E38D4CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E38D4D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E392D7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3952D68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3984320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E39AA898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E39D0E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3A023C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3A25940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3A4FEB8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3E01470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3E249E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3E4CF60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3E7B518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3EA2A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3ED3048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3EFA5C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3F23B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3F51160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3F77630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3F9FBA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3FCE160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E3FF56D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E401CC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E404E208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4074780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E409CCF8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E40CC2B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E40F4828>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E411DDA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E414C358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E41738D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E419BE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E41CA400>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E41F2978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E421AEF0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E424A4A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4273A20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4299F98>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E42C8550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E42F0AC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4322080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E43485F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4370B70>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E43A0128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E43C66A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E43EEC18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E441F1D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4445748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E446FCC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E44A0278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E44C67F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E44ECD68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E451D320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4543898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E456DE10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E45A03C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E45C6940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E45EDEB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E461C470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E46429E8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E466AF60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E469C518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E46C3A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E46F5048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E471B5C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4742B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E47740F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E479A668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E47C0BE0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E47F4198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4818710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4840C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4873240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E48997B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E48C1D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E48F22E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4917860>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E493FDD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4971390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4996908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E49C0E80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E49EF438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4A169B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4A3FF28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4A6F4E0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4A96A58>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4ABEFD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4AED588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4B15B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4B450B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4B6D630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4B95BA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4BC4160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4BEC6D8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4C14C50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4C46208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4C6B780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4C93CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E4CC32B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5CBC828>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5CE3DA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5D12358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5D3A8D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5D62E48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5D90400>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5DB9978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5DE1EF0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5E114A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5E3AA20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5E63F98>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5E91550>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5EB7AC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5EE9080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5F105F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5F36B70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5F68128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5F8F6A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5FB7C18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E5FE81D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E600F748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6037CC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E606A278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E608E7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E60B5D68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E60E6320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E610C898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6135E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E61673C8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E618E940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E61B5EB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E61E4470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E620B9E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6233F60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6263518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E628AA90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E62BD048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E62E35C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6309B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E633C0F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6362668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6389BE0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E63BB198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E63E1710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6409C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E643A240>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E64617B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E648AD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E64B92E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E64E0860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6507DD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6538390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E655F908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6587E80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E65B8438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E65E09B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6606F28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E66374E0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E665DA58>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6686FD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E66B6588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E66DCB00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E670D0B8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6735630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E675CBA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E678E160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E67B76D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E67DCC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E680D208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6834780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6858CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E688A2B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E68B4828>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E68DCDA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E690B358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E69318D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E695AE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6989400>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E69B1978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E69DAEF0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6A0A4A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6A31A20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6A59F98>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6A88550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6AAFAC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6AE2080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6B075F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6B2FB70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6B61128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6B866A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6BAFC18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6BDF1D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6C08748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6C2FCC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6C5F278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6C867F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6CAED68>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6CDD320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6D05898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6D2EE10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6D5D3C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6D85940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6DADEB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6DDD470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6E039E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6E2BF60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6E5B518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6E82A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6EB5048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6EDC5C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6F03B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6F350F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6F5B668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6F81BE0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6FB4198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E6FDB710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7001C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7032240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E705B7B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7081D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E70B22E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E70D8860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E70FFDD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7130390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7158908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E717FE80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E71B1438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E71D69B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7200F28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E722F4E0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7254A58>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E727FFD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E72AD588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E72D6B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E73060B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E732E630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7355BA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7386160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E73AE6D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E73D5C50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7405208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E742C780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7453CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E74822B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E74AD828>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E74D5DA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7503358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000191E752B8D0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000191E7553E48>,